.App {
  text-align: center;
}

.App-header {
  background-color: #006666;
  height: 100px;
  padding: 10px;
  color: white;
}
.App-header h1 {
  margin: 25px;
  font-size: 2.25em;
}
.App-intro {
  font-size: large;
}

.total-days {
  width: 100%;
  background: grey;
  color: darkRed;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border-bottom: 10px solid darkRed;
  border-top: 10px solid darkRed;
}
.running-days,
.climbing-days
{
  width: 50%;
  float: left;
  height: 250px;
  padding-top: 100px;
  background: aliceblue;
  border-bottom: 10px solid darkRed;
  color: black;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.left {
  float:left;
}
.right {
  text-align:right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
